# Node.js
/node_modules
npm-debug.log*

# React
/.eslintcache
/node_modules/
*.log
*.env

# Astro
/_astro
/node_modules/

# Tailwind CSS
/node_modules
/dist

# Miscellaneous
.DS_Store
*.log
.idea
.vscode

