---
import Layout from "../layouts/Layout.astro";
import ParticipantCam from "../components/ParticipantCam.tsx";
import PointsOverview from "../components/PointsOverview.tsx";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col items-center">
    <div class="flex m-10 gap-40 justify-center items-center flex-grow">
      <ParticipantCam />
      <PointsOverview />
      <ParticipantCam />
    </div>
    <div class="flex w-full">
      <div class="flex justify-center">
        <ParticipantCam />
      </div>
    </div>
  </main>
</Layout>
