---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import BuzzerQuestion from '../components/BuzzerQuestion.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex justify-center items-center min-h-screen">
		<BuzzerQuestion question="Hier könnte ihre Frage stehen">
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
